@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --light-bg: #fafafa;
  --light-color: #212121;
  --dark-bg: #121212;
  --dark-color: #e0e0e0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;



  padding: 2%;

  &.dark {
    background-color: var(--dark-bg);
    color: var(--dark-color);
  }
  &.light {
    background-color: var(--light-bg);
    color: var(--light-color);
  }

}

a {
  color: #64B5F6;

  &:visited {
    color: #305675;
  }
}

nav {
  a {
    color: #64B5F6;
    font-weight: bold;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: var(--dark-bg);
    color: var(--dark-color);
  }
}

@media screen and (min-width: 1280px) {
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 10px;

    // background-color: grey;

    #logo {
      margin-right: auto;
    }

    a:not(:first-child) {
      margin-left: 20px;
    }
  }

  body {
    margin: 0 auto;
    max-width: 60%;
  }
}
