@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --light-bg: #fafafa;
  --light-color: #212121;
  --light-accent: #0A72C2;
  --dark-bg: #121212;
  --dark-color: #e0e0e0;
  --dark-accent: #64b5f6;
  --color: var(--light-color);
  --bg: var(--light-bg);
  --accent: var(--light-accent);
}

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-color: var(--bg);
  color: var(--color);

  padding: 2%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: var(--dark-color);
    --bg: var(--dark-bg);
    --accent: var(--dark-accent);
  }
}

.dark {
  --color: var(--dark-color);
  --bg: var(--dark-bg);
  --accent: var(--dark-accent);
}
.light {
  --color: var(--light-color);
  --bg: var(--light-bg);
  --accent: var(--light-accent);
}

a {
  color: var(--accent);

  &:visited {
    color: var(--accent);
  }
}

nav {
  a {
    color: #64B5F6;
    font-weight: bold;
  }
}


@media screen and (min-width: 1280px) {
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 10px;

    // background-color: grey;

    #logo {
      margin-right: auto;
    }

    a:not(:first-child) {
      margin-left: 20px;
    }
  }

  body {
    margin: 0 auto;
    max-width: 60%;
  }
}
