<div id="end-banner">
  <h2>Podpořte projekt</h2>

  <p>Děkuji, že jste dočetli tento příspěvek až do konce. Pokud se vám líbil, <b>zvažte prosím příspěvek</b> (i třeba jen 10&nbsp;korun). Tento projekt nemonetizuje uživatele pomocí reklam, nesleduje je pomocí analytických nástrojů ani neprodává jejich data, je tudíž závislý na dobrovolných příspěvcích.</p>

  <p>V případě, že byste chtěli přispět, ale ani jedna metoda by vám nevyhovovala, <a href="/kontakt">napište nám</a> a pokusíme se najít cestu.</p>

  <div id="qr_codes">
    <div id="lightning_qr" class="qr">
      <h3>Lightning</h3>
      <img src="/lightning_qr.svg" alt="Lightning QR kód">
      <a href="lightning:lnurl1dp68gurn8ghj7ampd3kx2ar0veekzar0wd5xjtnrdakj7tnhv4kxctttdehhwm30d3h82unvwqhhg6tdd9jxgunpd9hr2dqaj2ljx">Otevřít v peněžence</a>
    </div>

    <div id="bank_qr" class="qr">
      <h3>Bankovní QR platba</h3>
      <p>Číslo účtu: 264441993/0600 | VS: 1</p>
      <img src="https://api.paylibo.com/paylibo/generator/czech/image?accountNumber=264441993&bankCode=0600&amount=10&currency=CZK&vs=1&message=P%C5%99%C3%ADsp%C4%9Bvek+pro+Samostuduj" alt="Bankovní QR kód">
      <div id="crown_input">
	<input type="number" min="1" value="10">
	<p>Kč</p>
      </div>
    </div>
  </div>
</div>
