<p>Tento web bastlí s celým 💖 <a href="https://nktrjsk.cz/">Nikita</a></p>
<div id="newsletter">
  <h2>Newsletter</h2>
  <p><b>Nezobrazuje se?</b> Pokud se vám nezobrazuje okénko k přihlášení, zkuste vypnout adblock nebo podobný blokátor</p>
  <iframe src="https://samostuduj.substack.com/embed" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no">Newsletter</iframe>
</div>

<div id="socials-bar">
  <a href="https://signal.group/#CjQKIMNaz2xaI8KdNXR77-6TMccTjokfUDfbIioiJeI1vnZjEhDQ0LT3SFgnzJ72qtbT8sjq"><span class="icon--simple-icons icon--simple-icons--signal"></span></a>
  <a href="https://discord.gg/bjYbFV9pPv"><span class="icon--simple-icons icon--simple-icons--discord"></span></a>
  <a href="https://www.linkedin.com/company/107886972"><span class="icon--simple-icons icon--simple-icons--linkedin"></span></a>
  <a href="https://www.instagram.com/nktrjsk/"><span class="icon--simple-icons icon--simple-icons--instagram"></span></a>
  <a href="https://github.com/nktrjsk/samostuduj"><span class="icon--simple-icons icon--simple-icons--github"></span></a>
</div>
