<!DOCTYPE html>
<html lang="cs">
<head>
{{ partial "head.html" }}
<script>
  if (localStorage.getItem("scheme") === null)
    localStorage.setItem("scheme", window.matchMedia('(prefers-color-scheme: dark)').matches ? "dark" : "light");
  const scheme = localStorage.getItem("scheme");
  const html = document.documentElement;
  document.documentElement.classList.add(scheme);

  function switch_scheme () {
    if (html.classList.contains('dark')) {
      html.classList.add('light');
      html.classList.remove('dark');
      localStorage.setItem("scheme", "light");
    } else {
      html.classList.add('dark');
      html.classList.remove('light');
      localStorage.setItem("scheme", "dark");
    }
  }
  
  // HACK: Making variables available outside, maybe fix later
  let image, amountInput
  window.onload = function () {
    /* NOTE: Feature waits for user to stop changing input, then changes address
       to make final API call to request QR code */
    image = document.querySelector("#bank_qr img")
    amountInput = document.querySelector("#bank_qr input")
    let timeout = null
    amountInput.addEventListener("input", () => {
      if (timeout) {
	clearTimeout(timeout)
	timeout = null
      }

      timeout = setTimeout(() => {
	timeout = null
	changeQR()
      }, 1000)
    })
    // Highlights text when a user clicks on the input
    amountInput.addEventListener("click", () => { amountInput.select() })

    function changeQR (e) {
      console.log("QR code changed")
      let APIString = `https://api.paylibo.com/paylibo/generator/czech/image?accountNumber=264441993&bankCode=0600&amount=${amountInput.value}&currency=CZK&vs=1&message=P%C5%99%C3%ADsp%C4%9Bvek+pro+Samostuduj`
      image.src = APIString
    }
  }
</script>
</head>
<body>
    <nav>{{ partial "nav.html" }}</nav>

    <main>
    {{ block "main" . }}
    {{ end }}
    </main>

  <footer>
    <p>Tento web bastlí s celým 💖 <a href="https://nktrjsk.cz/">Nikita</a></p>
    <div id="newsletter">
	<h3>Newsletter <b><i title="Pokud se vám nezobrazuje okénko k přihlášení, zkuste vypnout adblock nebo podobný blokátor">(Nezobrazuje se?)</i></b></h3>
	<iframe src="https://samostuduj.substack.com/embed" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no">Newsletter</iframe>
    </div>
  </footer>
</body>
</html>
