<!DOCTYPE html>
<html lang="cs">
<head>
{{ partial "head.html" }}
<script>
if (localStorage.getItem("scheme") === null)
  localStorage.setItem("scheme", window.matchMedia('(prefers-color-scheme: dark)').matches ? "dark" : "light");
const scheme = localStorage.getItem("scheme");
const html = document.documentElement;
document.documentElement.classList.add(scheme);

function switch_scheme () {
  if (html.classList.contains('dark')) {
    html.classList.add('light');
    html.classList.remove('dark');
    localStorage.setItem("scheme", "light");
  } else {
    html.classList.add('dark');
    html.classList.remove('light');
    localStorage.setItem("scheme", "dark");
  }
}
</script>
</head>
<body>
    <nav>{{ partial "nav.html" }}</nav>

    <main>
    {{ block "main" . }}
    {{ end }}
    </main>

  <footer>
    <p>Web udělaný s 💖 <a href="https://nktrjsk.cz/">Nikitou</a></p>
  </footer>
</body>
</html>
