{{ define "main" }}

<h4>Autor: {{ .Params.Author }}</h4>

<h1>{{ .Title }}</h1>

{{ .TableOfContents }}

{{ .Content }}

<h2>Související studijní plány</h2>

{{ $tags := slice }}
{{ $plany := .Site.GetPage "/plany" }}
{{ $src_terms := .GetTerms "tags" }}
{{ range .GetTerms "tags" }}
    {{ $tags = $tags | append .Title }}
{{ end }}
{{ range $tag := $tags }}
    {{ range $plany.Pages }}
	{{ $plan_tags := slice }}
	{{ range .GetTerms "tags" }}
	    {{ $plan_tags = $plan_tags | append .Title }}
	{{ end }}
	{{ if in $plan_tags $tag }}
	    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
	{{ end }}
    {{ end }}
{{ end }}

{{ partial "article-end.html" }}

{{ end }}
